In [45]:
import datetime as dt
import pandas as pd
from pandas import DataFrame

from transform_pdf_summary import convert_train_times_to_date_times

In [ ]:
data = [{
        'service_date': dt.date(2025, 6, 14),
        'scheduled_arr_time': dt.time(21, 20),
        'actual_arr_time': dt.time(21, 29),
        'scheduled_dep_time': dt.time(21, 21),
        'actual_dep_time': dt.time(21, 27),
        'cancellation_id': None,
        'reason': None
        },
        {
        'service_date': dt.date(2025, 6, 14),
        'scheduled_arr_time': dt.time(22, 20),
        'actual_arr_time': dt.time(22, 20),
        'scheduled_dep_time': dt.time(23, 45),
        'actual_dep_time': dt.time(23, 45),
        'cancellation_id': None,
        'reason': None
        }
    ]

In [80]:
train_date = data["service_date"][0]

data["scheduled_arr_time"] = dt.datetime.combine(train_date,
                                                    data["scheduled_arr_time"])
data["actual_arr_time"] = dt.datetime.combine(train_date,
                                                data["actual_arr_time"])
data["scheduled_dep_time"] = dt.datetime.combine(train_date,
                                                    data["scheduled_dep_time"])
data["actual_dep_time"] = dt.datetime.combine(train_date,
                                                data["actual_dep_time"])

TypeError: combine() argument 2 must be datetime.time, not Series

In [50]:
data = DataFrame(data)

In [54]:
len(data[data["actual_dep_time"] > data["scheduled_dep_time"]+dt.timedelta(minutes=5)])/len(data)

0.5

In [56]:
len(data[data["actual_arr_time"] > data["scheduled_arr_time"] +
    dt.timedelta(minutes=5)])/len(data)

0.5

In [57]:
cancelled_data = [
    {
        'service_date': dt.date(2025, 6, 14),
        'scheduled_arr_time': dt.time(21, 20),
        'actual_arr_time': dt.time(21, 29),
        'scheduled_dep_time': dt.time(21, 21),
        'actual_dep_time': dt.time(21, 27),
        'cancellation_id': None,
        'reason': None
    },
    {
        'service_date': dt.date(2025, 6, 14),
        'scheduled_arr_time': dt.time(22, 20),
        'actual_arr_time': dt.time(22, 20),
        'scheduled_dep_time': dt.time(23, 45),
        'actual_dep_time': dt.time(23, 45),
        'cancellation_id': 13,
        'reason': 'a problem with the train'
    }
]

In [58]:
train_date = cancelled_data[0]["service_date"]
for train in cancelled_data:
    train["scheduled_arr_time"] = dt.datetime.combine(train_date,
                                                      train["scheduled_arr_time"])
    train["actual_arr_time"] = dt.datetime.combine(train_date,
                                                   train["actual_arr_time"])
    train["scheduled_dep_time"] = dt.datetime.combine(train_date,
                                                      train["scheduled_dep_time"])
    train["actual_dep_time"] = dt.datetime.combine(train_date,
                                                   train["actual_dep_time"])

In [ ]:
df2 = DataFrame(cancelled_data)

In [71]:
print(df2)

  service_date  scheduled_arr_time     actual_arr_time  scheduled_dep_time  \
0   2025-06-14 2025-06-14 21:20:00 2025-06-14 21:29:00 2025-06-14 21:21:00
1   2025-06-14 2025-06-14 22:20:00 2025-06-14 22:20:00 2025-06-14 23:45:00

      actual_dep_time  cancellation_id                    reason
0 2025-06-14 21:27:00              NaN                      None
1 2025-06-14 23:45:00             13.0  a problem with the train

In [76]:
int(df2["cancellation_id"].count())/len(df2) * 100

50.0